@model WebApplication1.Models.Adviewmodel
@{
    ViewBag.Title = "View Ad";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="row">



    <div class="col-lg-8 col-md-8">

        <div>
            <h1>@Model.pro_name <small>AD-ID:@Model.pro_id</small></h1>
        </div>

        <img src="@Url.Content(@Model.pro_image)" style="width:800PX; height:450PX" />

        <div>
            <h1>Description: </h1>
            <p>@Model.pro_desc</p>
        </div>

        <div>
            <h3>Price: @Model.pro_price</h3>
        </div>

        <div>
            <h3>Category: @Model.cat_name</h3>
        </div>

        <div>
            <h3>Posted by: @Model.u_name <img src="@Url.Content(@Model.u_image)" style="width:40px; height:40px" /> </h3>
        </div>

        <div>
            <h3>Contact: @Model.u_contact </h3>
        </div>


    </div>




</div>